* {
    font-family: sans-serif;
  }
  body {
    background-color: white;
    margin: 0;
	  padding: 0;
  }
  .header {
    position: relative;
    height: 50px;
    background-color: rgb(123, 11, 11);
    border-bottom: 3px solid rgb(47, 1, 1);
  }
  .name {
    position: relative;
    top: 10%;
    height: 100%;
    color: lightgray;
    display: inline-block;
    align-items: center;
  }
  .name > h1 {
    margin: 0;
  }
  .content {
    position: relative;
    background-color: white;
    height: 80%;
    top: 10px;
    bottom: 170px;
  }
  .content > h1 {
    text-align: center;
  }
  .question {
    position: relative;
    text-align: center;
    top: 20px;
  }
  .user-form {
    width: 40%;
    margin: auto;
    padding: 10px;
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
  }
  #register {
    display: none;
  }
  .dashboard {
    width: 80%;
    margin: auto;
    padding: 10px;
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
  }
  .logo {
    height: 100%;
    width: 5%;
    float:left;
  }
  #chart {
    width: 100%;
    display: none;
  }
  #logout {
    float: right;
    margin: 15px;
  }
  table{
    width: 100%;
    border-collapse: collapse;
  }
  td, th{
    border: 1px solid lightgray;
    text-align: left;
    padding: 5px;
  }
  th, thead{
    background-color: rgb(123, 11, 11);
    color: lightgray;
  }
  tr:nth-child(odd){
    background-color: lightgray;
  }